@model NexxtDent.Models.Technical

@{
    ViewBag.Title = @Resources.Resource.ViewDetail;
}

    <h2>@Resources.Resource.ViewDetail</h2>

<div>
    <h4>@Resources.Resource.Technical_ViewIndex_Titulo1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identification.TipoDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identification.TipoDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkStation.Estacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkStation.Estacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zone.Zona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zone.Zona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.Ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(@Resources.Resource.ButtonEdit, "Edit", new { id = Model.TechnicalId }, new { @class="btn btn-primary"}) |
    @Html.ActionLink(@Resources.Resource.ButtonBack, "Index", new { }, new { @class="btn btn-success"})
</p>
