@model NexxtDent.Models.Delivery

@{
    ViewBag.Title = @Resources.Resource.ViewDetail;
}

    <h2>@Resources.Resource.ViewDetail</h2>

<div class="row">
    <div class="col-md-6">
        <div>
            <h4>@Resources.Resource.Delivery_ViewIndex_Titulo1</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Reception.Recepcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Reception.Recepcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Reception.Date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Reception.Date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Reception.Client.Cliente)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Reception.Client.Cliente)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Reception.Paciente)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Reception.Paciente)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TechnicalWork.Servicio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TechnicalWork.Servicio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.State.Estado)
                </dt>

                <dd>
                    @switch (Model.StateId)
                    {
                        case 1:
                            <strong style="color : gray">@Html.DisplayFor(model => model.State.Estado)</strong>
                            break;

                        case 2:
                            <strong style="color : green">@Html.DisplayFor(model => model.State.Estado)</strong>
                            break;

                        case 3:
                            <strong style="color : green">@Html.DisplayFor(model => model.State.Estado)</strong>
                            break;
                        case 4:
                            <strong style="color : green">@Html.DisplayFor(model => model.State.Estado)</strong>
                            break;
                        case 5:
                            <strong style="color : blue">@Html.DisplayFor(model => model.State.Estado)</strong>
                            break;
                        case 6:
                            <strong style="color : blue">@Html.DisplayFor(model => model.State.Estado)</strong>
                            break;
                        case 7:
                            <strong style="color : red">@Html.DisplayFor(model => model.State.Estado)</strong>
                            break;
                        case 8:
                            <strong style="color : green">@Html.DisplayFor(model => model.State.Estado)</strong>
                            break;
                        case 9:
                            <strong style="color : red">@Html.DisplayFor(model => model.State.Estado)</strong>
                            break;
                    }
                </dd>

            </dl>
        </div>
        <p>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.DeliveryId }) |*@
            @Html.ActionLink(@Resources.Resource.ButtonBack, "Index", new { }, new { @class = "btn btn-success" })
            @if (Model.StateId == 5)
            {
                 @Html.ActionLink(@Resources.Resource.Delivery_Button_AddDelivery, "AddDelivery", new { id = Model.DeliveryId }, new { @class = "btn btn-info" })
            }
        </p>
    </div>
    <div class="col-md-6">
        <h4><strong>Trabajo Recepcion</strong></h4>
        <hr />
        @if (Model.DeliveryDetails.Count == 0)
        {
            <h5>No Hay Trabajos Asignados</h5>
        }
        else
        {
            <table class="table">
                <tr>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Entregado
                    </th>
                    <th align="right">
                        Recibido
                    </th>
                    <th align="right">
                        Detalle
                    </th>
                </tr>

                @foreach (var item in Model.DeliveryDetails.ToList())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Entregado)
                        </td>
                        <td align="right">
                            @Html.DisplayFor(modelItem => item.Recibido)
                        </td>
                        <td align="right">
                            @Html.DisplayFor(modelItem => item.Detalle)
                        </td>
                        <td>
                            @if (Model.StateId == 2)
                            {
                                @Html.ActionLink(@Resources.Resource.ButtonDelete, "AddDelete", new { id = item.DeliveryId }, new { @class = "btn btn-danger", onclick = "return confirm('Sure Continue?')" })
                            }
                        </td>
                    </tr>
                }
            </table>
        }

        <div style="margin-top:10px">
            @if (Model.StateId == 2)
            {
                @Html.ActionLink(@Resources.Resource.ButtonActivar, "Activate", new { id = Model.ReceptionAssignId }, new { @class = "btn btn-warning btn-lg btn-block", onclick = "return confirm('Sure Continue?')" })
            }
        </div>
    </div>
</div>