@model NexxtDent.Models.TechnicalWorkDetail

@{
    ViewBag.Title = @Resources.Resource.AsignarTrabajo;
}

<h2>@Resources.Resource.AsignarTrabajo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>@Resources.Resource.AsignarTrabajo</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.TechnicalWorkId)


    <div class="form-group">
        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Detalle, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Detalle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Detalle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StateTechnicalId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("StateTechnicalId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StateTechnicalId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value=@Resources.Resource.ButtonAdd class="btn btn-primary" /> |
            @Html.ActionLink(@Resources.Resource.ButtonBack, "Details", new { id = Model.TechnicalWorkId }, new { @class = "btn btn-success" })
        </div>
    </div>
</div>
}