@model IEnumerable<NexxtDent.Models.TechnicalWork>

@{
    ViewBag.Title = @Resources.Resource.TechnicalWork_IndexTitulo1;
}

    <h2>@Resources.Resource.TechnicalWork_IndexTitulo1</h2>

@*<p>
    @Html.ActionLink(@Resources.Resource., "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Reception.Recepcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reception.Paciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Technical.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Reception.Recepcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Reception.Paciente)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Technical.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Servicio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cantidad)
    </td>
    <td>
        @switch (item.StateId)
        {
            case 1:
                <strong style="color : gray">@Html.DisplayFor(model => item.State.Estado)</strong>
                break;

            case 2:
                <strong style="color : green">@Html.DisplayFor(model => item.State.Estado)</strong>
                break;

            case 3:
                <strong style="color : green">@Html.DisplayFor(model => item.State.Estado)</strong>
                break;
            case 4:
                <strong style="color : green">@Html.DisplayFor(model => item.State.Estado)</strong>
                break;
            case 5:
                <strong style="color : blue">@Html.DisplayFor(model => item.State.Estado)</strong>
                break;
            case 6:
                <strong style="color : blue">@Html.DisplayFor(model => item.State.Estado)</strong>
                break;
            case 7:
                <strong style="color : red">@Html.DisplayFor(model => item.State.Estado)</strong>
                break;
            case 8:
                <strong style="color : green">@Html.DisplayFor(model => item.State.Estado)</strong>
                break;
        }
    </td>
    <td>
        @*@Html.ActionLink("Edit", "Edit", new { id = item.TechnicalWorkId }) |*@
        @Html.ActionLink(@Resources.Resource.ButtonDetail, "Details", new { id = item.TechnicalWorkId }, new { @class="btn btn-info"})
        @*@Html.ActionLink("Delete", "Delete", new { id = item.TechnicalWorkId })*@
    </td>
</tr>
}

</table>
