@model NexxtDent.Models.ReceptionWork

@{
    ViewBag.Title = @Resources.Resource.AsignarTrabajo;
}

<h2>@Resources.Resource.AsignarTrabajo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Resources.Resource.AsignarTrabajo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ReceptionId)


        <div class="form-group">
            @Html.LabelFor(model => model.WorkCategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("WorkCategoryId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.WorkCategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("WorkId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.WorkId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tasa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tasa, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Tasa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control" }, @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@Resources.Resource.ButtonAdd class="btn btn-primary" /> |
                @Html.ActionLink(@Resources.Resource.ButtonBack, "Details", new { id = Model.ReceptionId }, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
}

<script type="text/javascript">
            $(document).ready(function () {
                $("#WorkCategoryId").change(function () {
                    $("#WorkId").empty();
                    $("#WorkId").append('<option value="0">[Seleccione Trabajo...]</option>');
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetWork")',
                        dataType: 'json',
                        data: { WorkCategoryId: $("#WorkCategoryId").val() },
                        success: function (data) {
                            $.each(data, function (i, data) {
                                $("#WorkId").append('<option value="'
                                    + data.WorkId + '">'
                                    + data.Trabajo + '</option>');
                            });
                        },
                        error: function (ex) {
                            alert('Error de Lectura de Relacion' + ex);
                        }
                    });
                    return false;
                })
            });
</script>

<script type="text/javascript">
            $(document).ready(function () {
                $("#WorkId").change(function () {
                    $("#Precio").empty();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetPrecio")',
                        dataType: 'json',
                        data: { WorkId: $("#WorkId").val(), ReceptionId: $("#ReceptionId").val() },
                        success: function (data)
                        {
                            console.log(data);
                           $("#Precio").val(data);
                        },
                        error: function (ex) {
                            alert('Error de Lectura de Relacion' + ex);
                        }
                    });
                    return false;
                })
            });
</script>

<script type="text/javascript">
    $("#Precio, #Cantidad").on("input", function () {
        var val1 = parseInt($('#Precio').val());
        var val2 = parseInt($('#Cantidad').val());

        if (!isNaN(val1) && !isNaN(val2))
            $('#Total').val(val1 * val2);
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

