@model NexxtDent.Models.Reception

@{
    ViewBag.Title = @Resources.Resource.ViewDelete;
}

    <h2>@Resources.Resource.ViewDelete</h2>

    <h3>@Resources.Resource.MsgDelete</h3>
    <div>
        <h4>@Resources.Resource.Reception_ViewIndex_Titulo1</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Recepcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Recepcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Client.Cliente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Client.Cliente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Paciente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Paciente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ToothColor.ColorDiente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ToothColor.ColorDiente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GumColor.ColorEncia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GumColor.ColorEncia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DatePrueba)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DatePrueba)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateEntrega)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateEntrega)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Detalles)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Detalles)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.State.Estado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.State.Estado)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value=@Resources.Resource.ButtonDelete class="btn btn-primary" /> |
                @Html.ActionLink(@Resources.Resource.ButtonBack, "Index", new { }, new { @class = "btn btn-success" })
            </div>
        }
    </div>
